.container {
  width: 100%;
  padding: var(--paddings);
  border-bottom: 1px solid #ccc;
}

.movie-form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1.5rem;
  max-width: 450px;
  width: 100%;
  border-radius: 12px;
  background-color: var(--bg-color-w);
  box-shadow: var(--bsh-color);

  &__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 50px;
  }

  &__input,
  &__select {
    padding: 0.8rem;
    font-size: var(--font-size-text);
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.2s;
  }

  &__input:focus,
  &__select:focus {
    border-color: var(--b-color-f);
    outline: none;
  }

  &__button {
    align-self: flex-end;
  }

  &__error {
    color: red;
  }
}
